@model ProyectoControlDeParqueos.Models.TicketSalida

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TicketSalida</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.idCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroVehiculo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroVehiculo.idRegistroVehiculo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parqueo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parqueo.idParqueo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tarifa.idTarifa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.costoTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.costoTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.idTicketSalida" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Regresar</a>
</div>
